<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Project2.css') }}">
  
<body>
    
<div class="container">
<h2 style="text-align: center;">Menu Driven Program</h2>

<br>
   
<div class="program">
<a href="motion"style="text-decoration: none;"><h3>1.Motion Detector</h3></a>
<a href="name"style="text-decoration: none;"><h3>2.Name Detector</h3></a>
<a href="emotion"style="text-decoration: none;"><h3>3.Emotion Detector</h3></a>
<a href="mask"style="text-decoration: none;"><h3>4.Mask Detector</h3></a>
<a href="dimension"style="text-decoration: none;"><h3>5.Height Detector</h3></a>


</div>

</div>

</body>
</html>